
@charset "utf-8";
/* ----------------------------------

Name: style.css
Author: Alissio
Website: https://www.focus-slider.com
Exclusively available here: https://themeforest.net/user/alissio

------------------------------------- */





/*====================================================


	Table of Contents
	
	

		01. Generel Styles

			+ Generate Google Fonts 
			+ Custom Fonts 
			+ Essentials

		02. Gallery Slider

			+ Fade Carousel
			+ Thumb Slider

		03. Swiper Slider

			+ Navigation



	
====================================================*/




/*======================

	01. Generel Styles 

========================*/



/* Generate Google Fonts 
-------------------------*/

@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap";




/* Custom Fonts 
-------------------------*/

@font-face {
	font-family: 'Gilroy';
	src: url('../../assets/fonts/Gilroy-Regular.eot');
	src: url('../../assets/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../../assets/fonts/Gilroy-Regular.woff') format('woff'),
		url('../../assets/fonts/Gilroy-Regular.ttf') format('truetype'),
		url('../../assets/fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: 'Gilroy';
	src: url('../../assets/fonts/Gilroy-Bold.eot');
	src: url('../../assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../../assets/fonts/Gilroy-Bold.woff') format('woff'),
		url('../../assets/fonts/Gilroy-Bold.ttf') format('truetype'),
		url('../../assets/fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
  }



/* Variables
-------------------------*/

@import "variables";



/* Essentials
-------------------------*/

body {
	margin: 0;
	font-family: $mainFont;
}






/*======================

	02. Gallery Slider

========================*/

.gallery {
	width: 100%;
	height: 100%;
	position: relative;
}


/* Fade Carousel 
-------------------------*/

.gallery-slider {
	width: 100%;
	height: 100dvh;
  }
  .gallery-slider .swiper-slide {
	position: relative;
	overflow: hidden;
  }
  .gallery-slider .swiper-slide .swiper-caption__ctg {
	-webkit-transform: translate3d(0, 45px, 0);
			transform: translate3d(0, 45px, 0);
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
  }
  .gallery-slider .swiper-slide-active .swiper-caption__ctg,
  .gallery-slider .swiper-slide-duplicate-active .swiper-caption__ctg {
	opacity: 1;
	-webkit-transform: none;
		-ms-transform: none;
			transform: none;
  }
  .gallery-slider .swiper-slide .swiper-caption__ttl {
	-webkit-transform: translate3d(0, 55px, 0);
			transform: translate3d(0, 55px, 0);
	opacity: 0;
	-webkit-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
  }
  .gallery-slider .swiper-slide-active .swiper-caption__ttl, 
  .gallery-slider .swiper-slide-duplicate-active .swiper-caption__ttl {
	opacity: 1;
	-webkit-transform: none;
		-ms-transform: none;
			transform: none;
  }
  .gallery-slider .swiper-slide img {
	display: block;
	width: auto;
	height: 100%;
	margin: 0 auto;
  }
  .gallery-slider .swiper-slide:hover {
	cursor: -webkit-grab;
	cursor: grab;
  }
  .gallery-slider .swiper-slide:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
  }





/*======================

03. Swiper Slider 

========================*/

.swiper-slide-shadow-left {
	display: none;
}
.swiper-slide-shadow-right {
	display: none;
}
.swiper-caption {
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
		-ms-flex-align: end;
			align-items: flex-end;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	height: 100%;
}
.swiper-caption__content {
	padding: 29px 10px 66px;
	-webkit-box-flex: 1;
		-ms-flex: 1;
			flex: 1;
	text-align: center;
	background-color: var(--grayDark);
	opacity: 0;
	-webkit-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
.swiper-slide-active {
	.swiper-caption__content {
		opacity: 1;
	}
}
.swiper-caption__ctg {
	letter-spacing: 4px;
	display: block;
	font-size: 1.5rem;
	font-weight: normal;
	font-family: var(--mainFont);
	color: var(--primary);
}
.swiper-caption__ttl {
	font-size: 2.5rem;
	margin-bottom: 37px;
	font-weight: bold;
	color: var(--white);
	font-family: var(--mainFont);
}



/* Navigation
-------------------------*/

.slider-navigation {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%);
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-bottom: 29px;
	.slider-arrow {
		position: relative;
		background: none;
		width: 2.3rem;
		height: 2.3rem;
		left: auto;
		right: 0;
		margin-top: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		background-color: var(--primary);
		-webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
				box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		ion-icon {
			font-size: 1.4rem;
			color: var(--white);
		}
	}
	.swiper-button-prev {
		margin-right: 20px;
	}
}
.gallery {
	.swiper-button-next {
		background-image: none;
	}
	.swiper-button-prev {
		background-image: none;
	}
}