@media (max-width: 1199px) {
  .swiper-caption__img {
    width: 70%;
  }
  .swiper-caption {
    left: 15%;
  }
}

@media (max-width: 992px) {
  .swiper-caption__img {
    width: 100%;
  }
  .swiper-caption {
    left: 15%;
  }
}

@media (max-width: 768px) {
  .swiper-caption {
    left: 5%;
  }
  .swiper-caption__content {
    width: 100%;
    max-width: 90%;
    background-color: var(--secondary_90);
  }
}

@media (max-width: 600px) {
  .swiper-caption__text {
    font-size: 22px;
  }
  .swiper-caption__ttl {
    font-size: 34px;
  }
  .swiper-caption__content {
    padding: 49px 60px 49px 44px;
  }
  .swiper-caption {
    left: 2%;
  }
}